.main-panel {
    position: absolute;
    top: 1vh;
    bottom: 1vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-inline: 5vw;

    background-color: #00F0FF;
    border-top: solid .5vh rgba(0, 0, 0, 0.4);
    border-bottom: solid .5vh rgba(0, 0, 0, 0.4);
    transition: ease-in .3s;
}

.main-panel-open {
    left: 15vw;
    right: 15vw;
}

.main-panel-close {
    left: 35vw;
    right: 35vw;
}

.test {
    width: 100%;
    height: 100%;
}