.series-interface-open {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
    justify-items: center;
    align-items: center;
}

.series-interface-open .series-list-panel {
    width: 80%;
    height: 92%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    margin-top: 3%;
    padding-block: 5vh;

    border-top: rgba(0, 0, 0, 0.4) solid .5vh;
    border-bottom: rgba(0, 0, 0, 0.4) solid .5vh;
    animation: series-interface-open .4s ease-in;
}

@keyframes series-interface-open {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}