:root {
  /* COLOR */
  --color-black : #000000;
  --color-black-shadow : rgba(0, 0, 0, .5);
  --color-white : #ffffff;
  --color-white-shadow : rgba(255, 255, 255, 0.5);

  /* FONTS */
  --font-main : 'Black Ops One';
}